<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.votebrian.apps">

    <uses-sdk android:minSdkVersion="7" />
	<uses-feature android:name="android.software.live_wallpaper" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	
	
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/apps_list_name">
        <service
            android:label="@string/wp_select_list_name"
            android:description="@string/wp_select_list_desc"
            android:name=".StaticWallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
			<intent-filter>
			    <action android:name="android.service.wallpaper.WallpaperService" />
			</intent-filter>
			<meta-data
			    android:name="android.service.wallpaper"
			    android:resource="@xml/staticwallpaper"/>    
        </service>
        <activity
            android:label="@string/settings_title"
            android:name=".StaticWallpaperSettings"
            android:theme="@android:style/Theme.Light.WallpaperSettings"
            android:exported="true">
        </activity>
    </application>

</manifest>